@import 'normalize.css';
@import '../../css/grid.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@100;300;400&display=swap');

:root {
    --red-color: #A40606;
    --green-color: #337ab7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

// .grid {
//     width: 1200px;
//     max-width: 100%;
//     margin: 0 auto;
// }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

img {
    max-width: 100%;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clea40 {
    clear: both;
    height:40px;
}

.colD {
    background: orange;
}