.header-top{
    padding: 15px 0;
    margin-bottom: 5px;
    margin-left: 30px;
}

.ul-main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-main-menu > li > a {
    font-size: 17px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0 5px;
    transition: unset;
}

.ul-main-menu > li > a > i{
    font-size: 14px;
    margin-left: 5px;
    transition: unset;
}

.ul-main-menu > li:hover > a,

.ul-main-menu > li:hover > a > i{
    color: #fff;
    background: #0b628a;
}

.header-bottom{
    background: #a40606;
}

.show1199{
    display: none;
}

.has-sub{
    position: relative;
}

.has-sub:hover .ul-sub-menu {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    top: 100%;
}

.has-sub-2{
    position: relative;
}

.has-sub-2:hover .ul-sub-menu-2 {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    top: -1px;
}

.has-sub-aside{
    position: relative;
}

.ul-sub-menu-2 {
    position: absolute;
    left: 100%;
    min-width: 240px;
    background: #f7f7e7;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    top: 10px;
    list-style-type: none;
    margin: 0;
    z-index: 9999;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #ccc;
}

.ul-sub-menu-2 > li > a {
    display: block;
    padding: 10px 10px;
    color: #0b628a;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f4f4f4;
    white-space: nowrap;
}

.ul-sub-menu-2 > li:last-child > a{
    border: none;
}

.has-sub-2:hover .ul-sub-menu-2 {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    top: -1px;
}

.ul-sub-menu-2 > li > a:hover{
    background: #f5c7c7;
}

.ul-sub-menu {
    position: absolute;
    top: 100%;
    left: 5px;
    min-width: 240px;
    background: #f7f7e7;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    top: calc(100% - 10px);
    list-style-type: none;
    margin: 0;
    z-index: 9999;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #ccc;
}

.ul-sub-menu> li > a:hover {
    background: #f5c7c7;
}

.ul-sub-menu > li > a {
    display: block;
    padding: 10px 10px;
    color: #0b628a;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f4f4f4;
    
    white-space: nowrap;
}

.ul-sub-menu > li:last-child > a{
    border: none;
}

.flex-bw{display: flex;align-items: center;justify-content: space-between;}

.block-search-top {
    margin: 2px 0;
}

.block-search-top form > button{
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #a40606;
    border-radius: 50px;
    color: #fff;
    outline: unset;
    border: none;
    box-shadow: unset;
    width: 40px;
    font-size: 20px;
    position: relative;
}

.block-search-top form input{
    border: none;
    padding: 10px 15px;
    min-width: 250px;
    height: 46px;
    outline: unset;
    box-shadow: unset;
}

.block-search-top form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #cdcdcd;
    position: relative;
}

@media (max-width: 1199px){
    .show1199{display: block;}

    .hide1199{display: none;}

    .flex-order{
        display: flex;
        flex-wrap: wrap;
    }

    .header-top .flex{
        justify-content: space-between;
    }
    .block-search-top {
        margin-left: 0;
        width: calc(100% - 40px);
    }

    .block-search-top form input {
        min-width: unset;
        width: 100%;
    }

    .block-search-top form > button{
        background: #a40606;
        color: #fff;
        margin-right: 10px;
    }

    .header-bottom {
        padding: 10px 0;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #002a35;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 99999;
        padding: 0;
        font-weight: bold;
    }

    .sidenav .closebtn {
        font-size: 25px;
        display: block;
        align-items: center;
        width: 40px;
        background: #f5821f;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        padding: 5px 0;
    }

    .menu-mobile {
        padding: 0;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
        list-style-type: none !important;
    }

    .menu-mobile li {

        margin: 0;

        background: unset;

        border: none;

        border-radius: 0;

        box-shadow: unset;

        border-bottom: 1px solid #fff;

    }

    .menu-mobile a {
        padding: 15px 0 15px 20px;
        display: inline-block;
        width: calc(100% - 50px);
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
    }

    .menu-mobile a >img{
        width: 25px;
        margin-right: 10px;
    }

    .menu-mobile .sub-menu-mb .phelp a:first-child{

        padding: 15px 0 15px 15px;

        width: calc(100% - 50px);

    }

    .menu-mobile .sub-menu-mb a{

        width: 100%;

        padding: 15px;

    }

    .hassub-mb .phelp .a-icon {

        position: absolute;

        right: 15px;

        top: calc(50% - 7.5px);

        z-index: 9999;

        text-align: center;

        width: 20px;

        padding: 0;

    }

    .phelp {
        position: relative;
        
    }

    .phelp > a:first-child{

        border-right: 1px solid #fff;

    }

    .sub-menu-mb{

        padding: 0;

        list-style-type: none;

        margin: 0;

    }

    .sub-menu-mb > li{

        border-top: 1px solid #fff;

        border-bottom: none;

        background: #014a5c;

    }

    .sub-menu-mb > li:last-child{

        border-bottom: none;

    }

    .sub-menu-mb > li > .sub-menu-mb > li{

        background: #027997;

    }

    .push-left {

        position: relative;

        right: 280px;

        transition: all 0.3s;

        left: unset;

    }

    .pri-cart{

        display: none;

    }

    .tit-aside{

        font-size: 16px;

    }

    .header-top{

        background: #fff !important;

        padding: 10px 0;

    }

    header{

        padding: 0;

    }

    .block-search-top form > button,

    .block-search-top form{

        border-radius: 4px;

    }
    .block-cart-top{
        right: unset;
    }

}

@media (max-width: 1599px){

    .ul-main-menu > li > a{

        font-size: 16px;

    }
    .tit-aside{
        font-size: 0.9vw;
    }

}

@media (max-width: 1499px){
    .block-search-top form input{
        min-width: 250px;
    }

    .ul-main-menu > li > a {
        font-size: 15px;
        padding: 15px 10px;
    }

    .animate-text-company{
        font-size: 28px;
    }

    .logo img{
        width: 80px;
    }

    .call-us span{
        font-size: 24px;
    }

    .block-list-prod .col-20{
        padding: 0 5px;
    }

    .block-list-prod .row{
        margin: 0 -5px;
    }

    .new-pri{
        font-size: 17px;
    }

    .old-pri{
        font-size: 14px;
    }

    .img-bets{
        width: 45%;
        margin-right: 10px;
    }

    .right-best {
        width: calc(55% - 10px);
    }

    .name-prod-best{
        margin-bottom: 15px;
    }

    .tit-ser-aside{
        font-size: 15px;
    }

    .list-cate-aside > li > a{
        font-size: 15px;
    }

    .icon-commit {
	    width: 50px;
	}

	.right-commit {
	    width: calc(100% - 60px);
	}

	.bot-commit {
	    font-size: 13px;
	}

	.top-commit{
		font-size: 16px;
	}

}

@media (max-width: 1299px){
    .line-list-cate > li > a{
        font-size: 15px;
    }

    .line-list-cate > li{
        margin-left: 20px;
    }

    .line-list-cate > li.active:after {
        bottom: -12px;
    }

    .block-list-prod .col-20{
        width: 25%;
    }

    .block-cart-top,

    .block-hotline,

    .block-search-top {
        margin-left: 2%;
    }

    .block-sptop .row .col-20{
        width: 25%;
    }

    .ul-main-menu > li > a {
        padding: 15px 7px;
    }
}

.b_span {
    cursor:pointer;
    display: inline-block;
    color: #fff;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
}

.hide {
    display: none;
}