@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height: 100%;
}
input, textarea, select{
    @apply border border-gray-200 rounded-sm px-1 w-full py-2 px-3;
    @apply mb-2;
}
input:focus, textarea:focus, select:focus{
    @apply border-blue-900;
}
h1{
    @apply text-gray-800 mb-4 text-xl;
}
label{
    @apply text-gray-600 text-sm;
}
.btn-primary{
    @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}
table.basic{
    @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr td,
table.basic thead tr th
{
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic tr td{
    @apply px-4 py-1;
}
table.basic a{
    @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-default, .btn-red{
    @apply px-4 py-1 rounded-md;
}
.btn-red{
    @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}
.btn-default{
    @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}

.h3-cl {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info {
    justify-content: space-between;
    display: flex !important;
}

.btn-del {
    align-items: center;
    background: #ffffff;
    border: 1px solid #03415d;
    border-radius: 50px;
    color: #03415d;
    cursor: pointer;
    display: none;
    font-size: 12px;
    height: auto;
    justify-content: center;
    padding: 5px 10px;
    white-space: nowrap;
    margin-right: 12px;
}

.img:hover .btn-del {
    display: inline-block;
    margin-bottom: 5px;
}

.img {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-width: 1px;
    border-radius: 0.125rem;
    height: 12rem;
    width: 12rem;
}

.img:hover {
    height: auto;
    min-height: 12rem;
}