.item {
  /* margin-top: 16px; */
  /* font-size: 40; */
  /* color: #fff; */
  /* text-align: center; */
  min-height: 420px;
  /* background: orange; */

  border: 1px solid #b7b7b7;
  padding: 2px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.img-prod {
  position: relative;
  overflow: hidden;
  background-color: white;
  width: 100%;
}

/* bg color the cha */

.product-item-img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* .img-prod > a > img {
  width: 100%;
  border-radius: 4px;
} */

.view-buy {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.view-prod,
.buy-prod {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 20px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  background: #03415d;
  white-space: nowrap;
  border: 1px solid #03415d;
  cursor: pointer;
}

.view-prod:hover,
.buy-prod:hover {
  background: #fff;
  color: #0a618a;
}

.item:hover .view-buy {
  opacity: 1;

  visibility: visible;

  bottom: 15px;

  transition: all 0.5s;
}

.info-prod {
  padding: 15px 10px 10px 10px;
}

.prod-name {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 34px;
}

.prod-name > a {
  color: #000;
}

.prod-name > a:hover {
  color: #03415d;
}

.code-prod {
  margin-bottom: 7px;
  font-size: 14px;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.code-prod > a {
  color: #ed1c24;
}

.bold {
  font-family: "Montserrat";
  font-weight: 600;
}
