.block-list-prod-best {
  position: relative;
}

.tit-prod-best {
  font-size: 20px;
  font-family: "Arial";
  font-weight: 600;
  margin: 0;
  border-left: 9px solid #a40606;
  border-radius: 3px 0 0 3px;
  text-transform: uppercase;
  padding: 5px 0 7px 10px;
  border-bottom: 1px solid #b7b7b7;
  margin-bottom: 20px;
}

.block-slider-prod-top {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
