.block-list-prod-best {
  position: relative;
}

.tit-prod-best {
  font-size: 20px;
  font-family: "Arial";
  font-weight: 600;
  margin: 0;
  border-left: 9px solid #a40606;
  border-radius: 3px 0 0 3px;
  text-transform: uppercase;
  padding: 5px 0 7px 10px;
  border-bottom: 1px solid #b7b7b7;
  margin-bottom: 20px;
}

.block-slider-prod-top {
  /* min-height: 120px; */
  display: block;
  box-sizing: border-box;
}

.slider-prod-top {
  display: flex;
  overflow-x: auto;
  /* transition: all 0.25s ease 0s; */
  scroll-behavior: smooth;
}

.slider-prod-top::-webkit-scrollbar {
  width: 0;
}

.item-product-relate {
  flex: 0 0 19.3%;
  margin-right: 10px;
}

@media (min-width: 992px) and (max-width: 1299px) {
  .item-product-relate {
    flex: 0 0 24.3%;
    margin-right: 10px;
  }
}

@media (min-width: 770px) and (max-width: 991px) {
  .item-product-relate {
    flex: 0 0 33.333333%;
    margin-right: 10px;
  }
}

@media (max-width: 769px) {
  .item-product-relate {
    flex: 0 0 49%;
    margin-right: 10px;
  }
}
